.side-nav{
  /* width: 0 !important; */
  position: relative;
  /* left: -75%; */
  width: 25%;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  transition: 850ms;
}

.side-nav.auto{
  /* right: 75%; */
  /* position: fixed; */
  position: relative;
  background-color: azure;
  z-index: 100;
  width: 75%;
  /* left: 0%; */
  transition: 850ms;
}